<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <!-- Shared upstream dependencies must not restore unused online-app permissions. -->
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />
    <uses-permission
        android:name="com.android.vending.BILLING"
        tools:node="remove" />

    <!-- USB HID 支持 -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <application
        android:label="Companion Online"
        android:name="${applicationName}"
        android:icon="@drawable/ic_companion_online"
        android:roundIcon="@drawable/ic_companion_online"
        android:localeConfig="@xml/locales_config"
        android:allowBackup="false"
        android:usesCleartextTraffic="false">
        <activity
            android:name="com.chessnut.chessnutnext.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 棋盘后台连接服务 -->
        <service
            android:name="com.chessnut.chessnutnext.BoardBackgroundConnectionService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <!-- USB HID 棋钟服务（exported 供第三方 app 通过 AIDL 绑定共享） -->
        <service
            android:name="com.chessnut.chessnutnext.UsbClockService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.chessnut.chessnutnext.clock.UsbClockService" />
            </intent-filter>
        </service>

        <service
            android:name="com.chessnut.chessnutnext.Evo2BoardService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.chessnut.chessnutnext.evo2.Evo2BoardService" />
            </intent-filter>
        </service>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
    </application>
    <!-- Enables Flutter's optional process-text integration. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
